.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  width: 100%;
  min-height: 100vh;
}
@media (min-width: 500px) {
  .container {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

.nav-container {
  width: 100%;
}
.nav-container > .lang-block {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 20px;
}
.nav-container > .lang-block > .flag {
  background: url("https://api.iconify.design/emojione/flag-for-brazil.svg") no-repeat center center/contain;
  width: 24px;
  height: 24px;
  padding: 0 20px;
}
.nav-container > .menu-block {
  position: absolute;
  right: 20px;
  top: 10px;
}
.nav-container > .menu-block > .menu {
  background: url("https://api.iconify.design/eva/menu-outline.svg?color=white") no-repeat center center/contain;
  height: 3rem;
  width: 3rem;
}

.footer-container {
  display: flex;
  justify-content: center;
}
.footer-container > .icon-block {
  cursor: pointer;
  margin: 30px 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.footer-container > .icon-block > .icon {
  width: 24px;
  height: 24px;
}
.footer-container > .icon-block > .world {
  background: url("https://api.iconify.design/fontisto/world-o.svg?color=#FA9401") no-repeat center center/contain;
}
.footer-container > .icon-block > .facebook {
  background: url("../img/icons/icone-facebook.svg?color=#FA9401") no-repeat center center/contain;
}
.footer-container > .icon-block > .instagram {
  background: url("https://api.iconify.design/fa/instagram.svg?color=#FA9401") no-repeat center center/contain;
}

.header-container {
  width: 100%;
}
@media screen and (max-height: 500px) {
  .header-container {
    display: none;
  }
}
.header-container > .image-block {
  width: 100%;
}
.header-container > .image-block > .img {
  margin: 50px auto;
  background: url("../img/logo-ideia.svg") no-repeat center center/contain;
  height: 80px;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .btn-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.btn-container > .btn-block {
  display: flex;
  justify-content: center;
  flex-basis: 80%;
  margin: 10px auto;
  background-color: #444242;
  border: solid #FA9401 2px;
  padding: 10px 0;
  border-radius: 30px;
  font-weight: bold;
  overflow: hidden;
}
@media screen and (max-height: 500px) {
  .btn-container > .btn-block {
    flex-basis: 40%;
  }
}
@media (min-width: 500px) {
  .btn-container > .btn-block {
    width: 300px;
  }
}
.btn-container > .btn-block > .icon {
  width: 24px;
  height: 24px;
}
.btn-container > .btn-block > .cart {
  background: url("../img/icons/icone-produto-carrinho-adicionado.svg") no-repeat center center/contain;
}
.btn-container > .btn-block > .phone {
  background: url("../img/icons/icone-contato.svg") no-repeat center center/contain;
}
.btn-container > .btn-block > .magnifying {
  background: url("https://api.iconify.design/ps/magnifying-glass.svg?color=white") no-repeat center center/contain;
}
.btn-container > .btn-block > .rocket {
  background: url("../img/icons/icone-flag-lancamento.svg?color=white") no-repeat center center/contain;
}
.btn-container > .btn-block > .btn {
  border: none;
  background: none;
  color: #fff;
}
.btn-container > .active {
  background-color: #FA9401;
  transition: 0.2s;
}

body {
  background-color: #444242;
}

/*# sourceMappingURL=main.css.map */
